.container{

   display: flex;
   justify-content: center;
   align-items: center;

}

.card__container{

   padding-block: 5rem;

}

.card__content{

   margin-inline: 1.75rem ;
   border-radius: 1.35rem;
   overflow: hidden;
      
}

.card__article{

  width: 300px ;
  border-radius: 1.25rem;
  overflow: hidden;

}

.card__image{

  position: relative;
  background-color: rgba(rgb(111, 19, 19), rgb(86, 237, 86), rgb(135, 135, 222), alpha);
  padding-top: 1.5rem ;

}