
.header{
    background-image: url("src/assets/muda2.jpeg");
    height: 700px;
}
.menu{

    display: flex;
    list-style: none;
    position: fixed;
    align-items: center;
    justify-content: center;


    gap: 15rem;
    width: 100%;
    height: 60px;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0 ));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0);

}

.navbar{
    display: flex;
    background-color: var(--green-500);
    align-items: center;
    justify-content: space-between;
}

.search input{
    background-color: var(--green-600);
    
}
.search{
    background-color: var(--green-600);
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: rgb(14, 197, 14);
    
    
}