@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#root{
    --white:#fff;
    --gray-100: #DEDEDE;
    --green-500: #5C8213;
    --green-400: #A6BF36;
    --green-600: #3D5908;
    --black: #100F0D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}